@import '../css/base.scss';

$primary-color: #f14f4b;
$secondary-color: #726556;
$link-color: #3889bc;

@font-face {
  font-family: LoversQuarrel;
  src: url("../fonts/LoversQuarrel-Regular.otf") format("opentype");
}

body {
  background: #eeecde;
  color: $secondary-color;
  font: 18px/1.5 Roboto, Helvetica, Arial, sans-serif;
}

h1,h2,h3 {
  color: $primary-color;
  font-family: LoversQuarrel;
}

#main-container-background {
  background-image: url(../images/bg_header.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.container {
  text-align: center;
}

nav ul li a {
  color:  $link-color;
  &:hover {
    color: darken($link-color,20%);
  }
}


.wedding-title {
  font-family: LoversQuarrel;
}
